<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" targetFramework="net452" />
  <package id="ExpectedObjects" version="1.2.3" targetFramework="net452" />
  <package id="MSBuild.NUnit" version="1.0.2" targetFramework="net452" />
  <package id="NUnit" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Console" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.1" targetFramework="net452" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Mocks" version="2.6.4" targetFramework="net452" />
  <package id="NUnit.Runners" version="3.4.1" targetFramework="net452" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net452" />
  <package id="Selenium.Mozilla.Firefox.Webdriver" version="0.6.0" targetFramework="net452" />
  <package id="Selenium.Support" version="2.42.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.23.0.1" targetFramework="net452" />
  <package id="Selenium.WebDriver.Extensions" version="2.0.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.Extensions.Core" version="1.7.485" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="2.53.1.1" targetFramework="net452" />
  <package id="Testing.Commons" version="1.7.0" targetFramework="net452" />
  <package id="Testing.Commons.NUnit" version="3.1.0" targetFramework="net452" />
</packages>